{% extends "./base.html" %}

{% block content %}
{% load i18n %}
{% load static %}
<div class="container-fluid px-0">
    <img src="{% static 'header-img.png' %}" class="head-bg"/>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 d-md-none">
            {% include "./includes/menu.html" %}
        </div>
        <div class="col-12 col-md-7 my-4 my-md-0">
            <h1>{{ title }}</h1>
                <p>{% blocktrans %}«Полет бабочки» – социальный проект Фонда «Доброе дело», получивший в 2016 году поддержку в рамках «президентских» 
                    грантов для некомерчески организаций по конкурсу Фонда поддержки гражданской активности в малых городах и сельских территориях 
                    «<a href="">Перспектива</a>».{% endblocktrans %}</p>
                <p>{% blocktrans %}В рамках проекта мы вовлекаем молодых людей с ограниченными возможностями здоровья, проживающих городах и районах Ивановской
                    области, в творческую и предпринимательскую деятельность, помогаем им в освоении навыков компьютерного дизайна
                    и инновационного творчества, а также работы на современном инновационном оборудовании: лазерных станках, 3D-принтерах и др.
                    В результате будет создана бизнес-модель социального предпринимательства, призванная стимулировать социальную и экономическую 
                    активность молодежи с ОВЗ, а также способствующая их дальнейшему трудоустройству или самозанятости.{% endblocktrans %}</p>
                {% load static %}
                <img src="{% static '_01.jpg' %}" class="w-100"/>
                <p>{% blocktrans %}Участники проекта, 25 жителей Ивановской области в возрасте от 14 до 25 лет с ограниченными возможностями здоровья, проходят
                    курс обучения основам цифрового дизайна и создают на собственных домашних компьютерах уникальные дизайн-макеты
                    галстуков-бабочек с помощью программного приложения, созданного в рамках проекта.{% endblocktrans%}</p>
                <img src="{% static '_02.jpg' %}" class="w-100"/>
                <p>{% blocktrans %}Готовый продукт, галстук-бабочку, участники проекта могут изготовить самостоятельно: распечатав на 3D-принтере 
                    или вырезав на лазерном станке. Оборудование и материалы для проекта предоставляет Центр инновационного молодежного
                    творчества (ЦМИТ) «<a href="http://cmit37.ru/">Агентство Инноваций</a>».{% endblocktrans %}</p>
                <img src="{% static '_03.jpg' %}" class="w-100"/> 
                <p>{% blocktrans %}Участники проекта получают дистанционный доступ к Интернет-порталу проекта, обучаются основам интернет-маркетинга и реализуют
                    свою продукцию через интернет-магазин на портале проекта. Отбор участников проекта будет проходить совместно
                    с благотворительной программой «<a href="http://detiiv.ru/">Дети Ивановской области</a>» и Управлением образования Администрации города Иванова.{% endblocktrans%}</p>
                <img src="{% static '_04.jpg' %}" class="w-100"/>
                <p>{% blocktrans %}Разработка ПО, сайта, учебных курсов и методических материалов будет осуществляться совместно с Центром технического
                    творчества «<a href="http://nova37.ru">Новация</a>». Следуя девизу проекта «Расправив крылья, стремлюсь к мечте», мы планируем масштабировать проект
                    на другие регионы России, способствуя социальной адаптации большего числа молодых людей с ОВЗ.{% endblocktrans %}</p>
        </div>
        <div class="col-12 col-md-5">
                <div class="row">
                    <div class="d-none col-12 d-md-block">
                        {% include "./includes/menu.html" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% include "./includes/sidebar.html" %}
                    </div>
                </div>
            </div>
        </div>
</div>
{% include "./includes/map.html" %}

{% endblock %}




