{% extends "./base.html" %}

{% block content %}
{% load i18n %}
{% load static %}
<div class="container-fluid px-0">
    <img src="{% static 'header-img.png' %}" class="head-bg"/>
</div>
<div class="container">
    <div class="row">
        <div class="col-7">
            <h1>{{ title }}</h1>
            {% load static %}
            <p>{% trans 'Фонд социальной помощи и поддержки населения "Доброе дело" основан в 2014 году.' %}</p>
            <h2>{% trans 'Основные цели деятельности:' %}</h2>
            <ol>
                <li>{% trans 'Оказание социальной и материальной, консультационной помощи гражданам, находящимся в сложной жизненной ситуации.' %}</li>
                <li>{% blocktrans %}Оказание различной помощи и поддержки пожилым людям, детям-сиротам и престарелым гражданам, находящимся
                    на попечении государства, малообеспеченным и лицам, нуждающимся в попечении, и иным лицам, нуждающимся в помощи.{% endblocktrans %}</li>
                <li>{% trans 'Оказание поддержки и материальной помощи одаренным социально необеспеченным студентам, школьникам, дошкольникам.' %}</li>
            </ol>
            <img src="{% static '_05.jpg' %}" class="w-100"/>
            <h2>{% trans 'Основные целевые группы:' %}</h2>
            <ol>
                <li>{% trans 'Социально незащищенные слои населения.' %}</li>
                <li>{% trans 'Люди с ограниченными физическими возможностями.' %}</li>
                <li>{% trans 'Молодые люди, нуждающиеся в дополнительной поддержке.' %}</li>
            </ol>
            <img src="{% static '_06.jpg' %}" class="w-100"/>
            <h2>{% trans 'Основные виды деятельности:' %}</h2>
            <ol>
                <li>{% trans 'Разработка благотворительных программ и осуществление благотворительной деятельности.' %}</li>
                <li>{% blocktrans %}Объединение усилий различных благотворительных организаций, направленных
                    на оказание помощи и поддержки лиц, нуждающихся в помощи.{% endblocktrans %}</li>
                <li>{% blocktrans %}Разработка и реализация проектов, позволяющих объединить средства крупного, среднего и малого бизнеса,
                    бюджета и физических лиц для развития благотворительности и финансирования социальной сферы.{% endblocktrans %}</li>
                <li>{% blocktrans %}Проведение благотворительных мероприятий, опираясь на содействие государственных и общественных организаций, 
                    творческих союзов, предпринимателей, инициативных групп граждан.{% endblocktrans %}</li>
                <li>{% blocktrans %}Содействие привлечению внимания к проблемам детей, престарелых и малоимущих граждан, находящихся на попечении государства.{% endblocktrans %}</li>
            </ol>
            <h2>{% trans 'География деятельности:' %}</h2><p>{% trans 'Ивановская область' %}</p>
        </div>
        <div class="col-5">
            {% include "./includes/menu.html" %}
            {% include "./includes/sidebar.html" %}
        </div>
    </div>
 </div>
 {% include "./includes/map.html" %}
 {% endblock %}



