{% extends "./base.html" %}

{% load i18n %}
{% block content %}
{% load static %}
<div class="container-fluid px-0">
    <img src="{% static 'header-img.png' %}" class="head-bg"/>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 d-md-none">
            {% include "./includes/menu.html" %}
        </div>
        <div class="col-12 col-md-7 my-4 my-md-0">
            <h1>{% block title %} {% trans 'Команда' %} {% endblock %}</h1>
            <p>{% blocktrans %}Команда проекта - это творческие, неравнодушные люди, силами которых проект развивается и набирает обороты. 
                Чувствуете, что можете и хотите помочь? Мы всегда рады единомышленникам и готовы принять вас в команду!{% endblocktrans %}</p>
            <div class="avatars">
                {% for per in persons %}
                <div class="col-12 col-md-6 col-lg-4 py-4 text-center">
                    <img src="{{MEDIA_URL}}{{ per.img.url }}" class="rounded-circle" width="100%" height="70%"/>
                    <h2>{{ per.first_name }} {{ per.last_name }}</h2>
                    <p>{{ per.position }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="row">
                <div class="d-none col-12 d-md-block">
                    {% include "./includes/menu.html" %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% include "./includes/sidebar.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}