
<div class="container my-3">
    <div class="row">
        <div class="col-3 mr-auto">
            {% load static %}
            <a href="{% url 'home' %}" ><img src="{% static 'logo.png' %}" class="logo"/></a>
            {% load i18n %}
        </div>
        <div class="col-4 ml-auto my-auto text-right">
            <ul class="list-unstyled list-inline lang-btn">
                <li class="list-inline-item py-2">
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                        <input name="language" type="hidden" value="ru" />
                        <input type="submit" value="RU" />
                    </form>
                </li>
                 <li class="list-inline-item py-2">
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                        <input name="language" type="hidden" value="en" />
                        <input type="submit" value="EN" />
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
