{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/fund">{% trans 'Фонд "Доброе дело"' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">{% trans 'О проекте' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">{% trans 'Команда' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/charity">{% trans 'Благотворительность' %}</a>
            </li>
            <li class="nav-item">
				<div class="dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Еще' %}
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/gallery">{% trans 'Медиагалерея' %}</a>
                        <a class="dropdown-item" href="/documents">{% trans 'Документы'%}</a>
                        <a class="dropdown-item" href="/contacts">{% trans 'Контакты' %}</a>
                        <a class="dropdown-item" href="http://flybowtie.ru/uieditor">{% trans 'Приложение' %}</a>
					</div>
				</div>
			</li>
        </ul>
    </div>
</nav>
