{% extends "./base.html" %}

{% block content %}
{% load i18n %}
{% load static %}
<div class="container-fluid px-0">
    <img src="{% static 'header-img.png' %}" class="head-bg"/>
</div>
<div class="container">
    <div class="row">
        <div class="col-7">
            <h1>{{ title }}</h1>
            <p>{% blocktrans %}На сегодняшней день проект располагает финансовыми средствами на участие 25 молодых людей, проживающих в Ивановской области. 
                Однако на этапе формирования списка, желающих оказалось значительно больше, в том числе из других регионов. 
                Поэтому мы рассматриваем возможности увеличения числа участников и расширение проекта за границы Ивановской области.
                Приглашаем вас стать партнером. Вы можете оказать адресную помощь или любую другую форму поддержки нашей инициативы. 
                Наша команда готова ответить на все возникшие у вас вопросы по участию в проекте. Надеемся общими усилиями помочь как можно 
                большему числу молодых людей с ограниченными возможностями здоровья найти свое место в жизни, раскрыть творческий 
                и предпринимательский потенциал.{% endblocktrans %}</p>
        </div>
        <div class="col-5">
            {% include "./includes/menu.html" %}
            {% include "./includes/sidebar.html" %}
        </div>
    </div>
 </div>
 {% include "./includes/map.html" %}
 {% endblock %}



