{% extends "./base.html" %}

{% block content %}
{% load i18n %}
{% load static %}
<div class="container-fluid px-0">
    <img src="{% static 'header-img.png' %}" class="head-bg"/>
</div>
<div class="container">
    <div class="row">
        <div class="col-7">
            <h1>{{ title }}</h1>
            {% load static %}
            <img src="{% static '_1.jpg' %}" class="w-100"/>
            <img src="{% static '_2.jpg' %}" class="w-100"/>
            <img src="{% static '_3.jpg' %}" class="w-100"/>
            <div class="">
            <iframe width="100%" height="350" src="https://www.youtube.com/embed/HlSAQAtOn_o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="100%" height="350" src="https://www.youtube.com/embed/YI6P2npS1Do" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-5">
            {% include "./includes/menu.html" %}
            {% include "./includes/sidebar.html" %}
        </div>
    </div>
 </div>
 {% include "./includes/map.html" %}
 {% endblock %}



